.geral{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 120px;
}

.text{
    font-size: 20px;
    font-family: "Palanquin", sans-serif;
    font-weight: 200;
    font-style:normal;
}

.img{
    width: 15px;
    margin-top: -5px;
}