.geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card{
    background-color: white;
    margin-top: 3%;
    height: 700px;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.2);
}

