@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Palanquin';
}

#divMae {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #70B3FF;
    background-color: #E9F3FF;
    padding-bottom: 100px;
    border-bottom: 1px solid #70B3FF;
}

#quemSomos {
    background-color: white;
    color: #2C46D1;
    width: 200px;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 50px;
    padding-top: 15px;
}

#quemSomosFilho{
    font-weight: 700 !important;
}

#divFilha {
    display: flex;
    margin-top: 40px;
    width: 1339.52px;
    height: 456.39px;
    background-color: #b2d6fd;
    border-radius: 44px;
    box-shadow: 0px 0px 12px rgba(80, 80, 80, 50%);
}

#grupo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

#logo {
    width: 500px;
    margin-top: 40px;
}

#nos {
    width: 605.73px;
    height: 563.1px;
    position: relative;
    right: 30px; 
    top: -130px; 
}


#texto {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 50px;
}

#nossaMissao {
    color: #2C46D1;
    font-weight: 700 !important;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#textoDois {
    line-height: 38px;
    font-size: 18px;
    text-align: justify;
    margin-right: 60px;
    color: #363636;
}

hr {
    border-top: 2px solid #197CEC; 
    width: 91%;  
    margin-top: 10px; 
    margin-bottom: -30px;
}  
