.botao{
    padding-top:6%;
    padding-top:6%;
    width: fit-content;
    padding-left: 80%;
    padding-right: 80%;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-style: bold;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 801px){
   .botao{
    padding-left: 122px;
    padding-right: 122px;
   }
}