#navbar {
    padding-left: 160px !important;
    padding-right:160px !important;
    background-color: white !important;
    border-bottom: 1px solid #70B3FF;
}

#sobrenos {
    font-weight: larger !important;
}

#acessorestrito {
    padding: 8px 15px !important;
    color: #0000F9 !important;
    border-color: #0000F9;
}   
#acessorestrito:hover {
    background-color: #0000F9 !important;
    color: white !important;
    transition: 0.4s !important;
}

#logo {
    width: 110px !important;
    height: 35px !important;
    margin-right: 30px !important;
}