#containerEmpresas {
    background-image: url('src/assets/Frame 5.jpg');
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    height: 850px !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
    padding: 20px; 
}

#divEmpresasCausas {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-items: start;
}

#empresasCausas {
    background-color: #FFFFFF; 
    color: #2C46D1;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 38px;
    margin-left: 38px;
}

#inclusesTexto {
    font-size: 32px;
}
