@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");


* {
    font-family: "Palanquin";
  }

#divMae {
    margin-top: 600px;
    background-image: url("src/assets/Rectangle 467 (1).png");
    background-size: cover;
}

#textoPrincipal {
    position: relative;
    width: 60%;
    bottom: 465px;
    left: 250px;
}

#titulo {
    font-size: 36px;
    color: white;
    text-align: start;
    font-weight: 700 !important;
}

.texto {
    color: white !important;
    text-align: start;
    font-size: 24px;
}