@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Palanquin';
}

#divMae {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #70B3FF;
    background-color: #E9F3FF;
    padding-bottom: 100px;
    border-bottom: 1px solid #70B3FF;
}

#nossaEquipe {
    background-color: white;
    color: #2C46D1;
    width: 200px;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 50px;
    padding-top: 15px;
}

#nossaEquipeFilho {
    font-weight: 700 !important;
}

#divFilha {
    display: flex;
    margin-top: 40px;
    width: 1400px;
    height: 600px;
    background-color: #D5B1FF;
    border-radius: 50px;
    box-shadow: 0px 0px 12px rgba(80, 80, 80, 50%);
}

#grupo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

#logo {
    width: 500px;
    margin-top: 40px;
}

#nos {
    width: 685px;
    margin-top: 40px;
}

#texto {
    align-items: start;
    margin-left: 50px;
}

#sobreNos {
    color: #782CD4;
    font-weight: 700 !important;
    font-size: 45px;
    margin-top: 150px;
    margin-right: 385px;
    margin-bottom: 30px;
}

#textoDois {
    line-height: 38px;
    font-size: 20px;
    text-align: justify;
    margin-right: 60px;
    color: #363636;
}