@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Palanquin';
}

#divBeneficios{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
    margin-left: 60px;
}

#beneficios{
    background-color: #E8F3FF;
    color: #2C46D1;
    border-radius: 50px;
    padding: 7px 15px ;  
}

#oportuEmpre {
    text-align: start;
    font-size: 40px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 0;
}

#fazerCursos{
    text-align: start;
    font-size: 40px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 1px;  
}

#topicos {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 700;
    margin-left: 60px;
    margin-top: 35px;
}

.pMae {
    margin-bottom: 40px ;
    color: #2C46D1;
    font-size: 20px;
}

.nums {
    display: inline;
    background-color: #2C46D1;
    border-radius: 100%;
    padding: 0px 13px;
    color: white;
    padding-bottom: 2.5px;
    margin-right: 12px;
}

.conteudo {
    color: #363636;
    font-size: 18px;
    margin-bottom: 0;
}

div > hr{
    color: #70B3FF;
    padding: 1px;
    width: 35%;
}

#imgPessoa {
    position: absolute;
    left: 800px;
    top: 1170px;
    z-index: 1;
}

#border {
    margin-top: 100px;
    width: 100%;
    border-bottom: 1px solid #70B3FF;
}