@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

.geral{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_fundo{
    width: 100%;
    height: 130%;
    position: absolute;
}

.titulo{
    color: black;
}

.card{
    background-color: white;
    margin-top: 3%;
    height: 40%;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.2);
     
    justify-content: center;
}

#titulo{
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-style: bold;
    color: #2B46D3;
    font-size: 45px;
    padding: 20px;
    border-bottom: 0.3px solid #2B46D3;
    padding-left: 20%;
    padding-right: 20%;
}

#subtitulo{
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-style: bold;
    margin-top: 5px;
    color: black;
    font-size: 30px;
   
}

#inputs{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    gap: 20px;
    margin-left: 1%;
}

.plus{
    width: 100%;
    margin-left: -150px;
    margin-top: 5%;
}

#senha{
    margin-top: 30px;
    margin-bottom: 7%;
}

#texto1{
    margin-top: 5px;
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#texto2{
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-style: bold;
    display: block;
    font-size: 23px;
    margin-top: -9px;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    width: 230px;
}

.termos{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
   
    z-index: 1;
    
}


@media screen and (max-width: 801px){
    .card{
        width: 300px;
        height: 500px;
        margin-top: 70px;
    }

    .img_fundo{
        width: 100%;
        height: 800px;
    }

    .termos{
        width: 300px;
    }

    #texto1{
        font-size: 14px;
    }

    #texto2{
        font-size: 17px;
    }

    #titulo{
        font-size: 30px;
        padding: 10px;
    }

    #subtitulo{
        font-size: 20px;
    }

}