@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Palanquin';
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 98px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
    height: 510px;
    box-shadow: 1px 1px 8px gray;
    width: 470px;
}

hr {
    margin-bottom: 50px;
}


#principalMae {
    display: flex;
    justify-content: center;
    width: 100%;
}