@media (max-width: 768px) {
    #app {
        margin-left: 60px !important;
        width: 300.01px !important;
    }

    #incluses{
        margin-right: 40px !important;
    }

    #textoDiversis{
        font-size: 14px !important;
        margin-right: 30px !important;
    }

    #logo{
        width: 380px !important;
        height: 100px !important;
    }

    #botao{
        margin-left: 60px !important;
        font-size: 11px !important;
        padding: 10px 20px 10px !important;
        margin-top: 30px !important;
    }

    #textoInstagram {
        display: inline;
        color: white;
        margin-right: 20px !important;
        font-size: 12px !important;
    }
    
    #textoEmail {
        display: inline;
        color: white;
        margin-left: 10px !important;
        font-size: 12px !important;
        
    }

    .icone{
        margin: 0px !important;
        margin-right: 0px !important;
        width: 30px !important;
    }

    .redeSocial{
        margin-top: 10px !important;
        margin-right: 10px !important;
        margin-left: 5px !important;
        
    }

}






#app {
    margin-left: 90px;
    width: 398.01px;
}

#divMae {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #70B3FF;
}

#texto {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 100px;
}

#barraStatus {
    display: flex;
    border-top: 1px solid #E8F3FF;
    background-color: #407BFF;
}

.icone {
    width: 50px;
    margin-left: 100px;
}

#textoInstagram {
    display: inline;
    color: white;
    margin-left: 2px;
}

#textoEmail {
    display: inline;
    color: white;
    margin-left: 2px;
}

.redeSocial {
    padding-top: 30px;
    margin-left: 30px;
}

#incluses {
    width: 200px;
}

#botao {
    height: 40px;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 500px;
    padding: 12px 40px 35px 40px;
    color: #636363;
}

#logo {
    width: 597px;
}

