.botaoDois{
    color: #32006f;
    background-color: #F9F0FF;
    border-color: #F9F0FF;
    font-weight: 700;
    font-size: 15px;
    width: 145.21px;
    height: 67px;
    border-radius: 35.5px;
    margin-left: 10px;
}

.botaoDois:hover{
    background-color: #bf57ff;
    border-color: #bf57ff;
}